<h1>You are ordering <%= @meal.title.capitalize %></h1>


<%= form_with model: @order do |form| %>

  <p>
    <%= form.label :order_quantity %><br>
    <%= form.number_field :order_quantity %>
  </p>
 
  <%= hidden_field_tag(:meal_id, @meal.id) %>
  <p>
    <%= form.submit %>
  </p>


<% end %>