

<% if user_signed_in? %>
  <%= link_to "Create new meal", new_meal_path %><br>
  <%= link_to "Account Settings", edit_user_registration_path %>
  <br>
  <%= link_to "User Meals", meals_usermeals_path %>

<% end %>

<!--
<%= form_with(url: meals_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
-->

<p>
<% @meals.each do |meal| %>
  <li>Made by <%= meal.user.email %></li>
  <li>Item name: <%= meal.title %></li>
  <li>Description: <%= meal.description %></li>
  <li>Available from:<%= meal.available_from %></li>
  <li>Available to:<%= meal.available_until %></li>
  <li>Price:<%= number_to_currency(meal.price/100.0) %></li>
  <%= link_to 'Show', meal_path(meal) %>
  <hr>
<% end %>
</p>

<%# <hr> %>