
<div class="index">

<% @meals.each do |meal| %>
<% if (meal.quantity > 0 && meal.user.present?) %>
<!-- So that food under 0 is not shown on index-->
<!-- So that only shows measl which has existing owner, i.e. user hasn't cancelled account-->
  <div class="index-content">
    <div class="left">
      <li><%= image_tag meal.image, width: '300' %><li>
    </div>
    <div class="right">
      <li><h4><%= meal.title %></h4></li>

      <li><strong>Made by <%= meal.user.email %></strong></li>
      <li><strong>Pick up address:&nbsp</strong><a href="http://maps.google.com/maps?q=<%= meal.user.address %>"><%= meal.user.address %></a></li>
     
      
      <li><%= meal.description %></li>
      <li>Available from:<%= meal.available_from %></li>
      <li>Available to:<%= meal.available_until %></li>
      <li><strong>Price:</strong><%= number_to_currency(meal.price/100.0) %></li>
      <%= link_to 'Buy Now', meal_path(meal), class:"btn btn-primary" %>

    </div>

    <% end %>
  </div>
<% end %>
</div>

