<h1 class="logo">MEALBUDDY</h1>


<%= link_to "Create new meal", new_meal_path %><br>
  <% if user_signed_in? %>
    <%= link_to "Account Settings", edit_user_registration_path %>
    <% end %>
<p>
<% @meals.each do |meal| %>
  <li>Made by <%= meal.user.email %></li>
  <li>Item name: <%= meal.title %></li>
  <li>Description: <%= meal.description %></li>
  <li>Available from:<%= meal.available_from %></li>
  <li>Available to:<%= meal.available_until %></li>
  <li>Price:<%= meal.price %></li>
  <%= link_to 'Show', meal_path(meal) %>
  <hr>
<% end %>
</p>



<%# <hr> %>