
<div class="index">

<% @meals.each do |meal| %>
<% if meal.quantity > 0 %> <!-- So that food under 0 is not shown on index-->
  <div class="index-content">
    <div class="left">
      <li><%= image_tag meal.image, width: '300' %><li>
    </div>
    <div class="right">
      <li><h4><%= meal.title %></h4></li>
      <li><strong>Made by <%= meal.user.email %></strong></li>
      <li><%= meal.description %></li>
      <li>Available from:<%= meal.available_from %></li>
      <li>Available to:<%= meal.available_until %></li>
      <li>Price:<%= number_to_currency(meal.price/100.0) %></li>
      <%= link_to 'Buy Now', meal_path(meal), class:"btn btn-primary" %>
    </div>
    <% end %>
    <hr>
  </div>
<% end %>
</div>

<%# <hr> %>