<div class="show-page">
  <h2> <%= @meal.title.capitalize%></h2>

  <p><%= @meal.description %> </p>

  <%= image_tag @meal.image, width: '250' %><br>

  <h5>You are ordering <%= @meal.title.capitalize %></h5>

  <h5>Price is <%= number_to_currency(@meal.price/100.0) %> 
  each</h5>
  <li><strong>Pick up location:&nbsp</strong><a href="http://maps.google.com/maps?q=<%= @meal.user.address %>" target="_blank"><%= @meal.user.address %></a></li>
  <% if user_signed_in? %>
    <%= form_for(@order, url: orders_path) do |form| %>

    <!-- not let anyone select a quantity above available order_quantity -->

      <p> Available quantity at the moment is: <%= @meal.quantity %></p>
      <p>
        <%= form.label :order_quantity %><br>
        <%= form.number_field :order_quantity, max: @meal.quantity %>
      </p>
    
      <%= hidden_field_tag(:meal_id, @meal.id) %>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
       <% else %>
    <h3>Please <%= link_to 'Login/Sign Up', new_user_session_path %> to order</h3> 
    
  <% end %>
</div>




