<h1> <%= @meal.title.upcase %></h1>


<p> Item name: &nbsp<%= @meal.title.capitalize %> </p>
<p> Description: &nbsp<%= @meal.description %> </p>

<%= link_to 'Delete', meal_path(@meal),method: :delete %> | <%= link_to 'Edit', edit_meal_path(@meal) %> <br><br>

<%= link_to 'Back',root_path %>

