<h1> <%= @meal.title.upcase %></h1>


<p> Item name: &nbsp<%= @meal.title.capitalize %> </p>
<p> Description: &nbsp<%= @meal.description %> </p>
<%= image_tag @meal.image, width: '300' %><br>

<h1>You are ordering <%= @meal.title.capitalize %></h1>

<h5>Price is <%= number_to_currency(@meal.price/100.0) %> 
each

<%= form_with model: @order do |form| %>

  <p>
    <%= form.label :order_quantity %><br>
    <%= form.number_field :order_quantity %>
  </p>
 
  <%= hidden_field_tag(:meal_id, @meal.id) %>
  <p>
    <%= form.submit %>
  </p>

<% end %>




