<h1> <%= @meal.title.upcase %></h1>


<p> Item name: &nbsp<%= @meal.title.capitalize %> </p>
<p> Description: &nbsp<%= @meal.description %> </p>
<%= image_tag @meal.image, width: '300' %><br>
<%= link_to 'Back',root_path %>

