<h2>These are the meals you have created</h2>

<p>

<% @meals.each do |meal| %>
  <li>Made by <%= meal.user.email %></li>
  <li>Item name: <%= meal.title %></li>
  <li>Description: <%= meal.description %></li>
  <li>Available from:<%= meal.available_from %></li>
  <li>Available to:<%= meal.available_until %></li>
  <li>Price:<%= meal.price %></li>
<%= link_to 'Delete', meal_path(meal),method: :delete %> | <%= link_to 'Edit', edit_meal_path(meal) %> 


  <hr>
<% end %>



<%= link_to 'Back',root_path %>




</p>